<h1>Login form</h1>
<form>
  <table>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Enter your username</mat-label>
          <input matInput placeholder="username" required name='username' [(ngModel)]='username'>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]='password' name='password' required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" required>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td style="justify-content: center; display: flex;">
        <button mat-raised-button color="accent" (click)='login()'>Login</button>
      </td>
    </tr>
    <tr>
      <td>
        <div style="color: red;">{{errorMessage}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <a routerLink='/register'  style="color: blueviolet">If you don't have an account, you can register here.</a>
      </td>
    </tr>
  </table>
</form>
