<h1>{{competition.sport}} {{competition.discipline}} - Results</h1>
<form>
<table mat-table [dataSource]="competition.athletes" style="width: 100%;" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let athlete"> {{athlete.name}} </td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let athlete"> {{athlete.country}} </td>
  </ng-container>
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result{{resultsFormat}} </th>
    <td mat-cell *matCellDef="let athlete">
      <mat-form-field appearance="outline">
        <mat-label>enter result</mat-label>
        <input matInput placeholder="result" required name='result' [(ngModel)]='results[competition.athletes.indexOf(athlete)]'>
      </mat-form-field>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button (click)='saveresults()'>Save Results</button>
</form>
<div style="color: red;">{{errorMessage}}</div>
